


/* color */
.bg-nil{
    background-color: #2e9bd1;
}
/* color */



/* silder effect */
.carousel-item{
     background:no-repeat scroll center scroll;
    -webkit-background-size:cover;
    background-size:cover
    }
    
    .carousel-item::before{
    content:"";
    display:block;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    background: #000;
    opacity:0.7;
    }

    button.btn.btn-outline-light.btn-lg.text-center.ps-5.pe-5.p-3 {
        background-color: #2e9bd1;
        border: #2e9bd1;
    }

    button.active{
        display: none;
    }
    button{
        display: none;
    }
    /* silder effect */

    

    p{
      
        color: #ccc6c6;
    }
    /* card area */
    img.card-img-left.example-card-img-responsive {
        height: fit-content;
    }




    @media only screen and (max-width: 500px) {
        .card.flex-row {
            display: grid;
        }
        img.card-img-left.example-card-img-responsive {
            height: fit-content;
            width: -webkit-fill-available;
        }
        section.container.mt-5.pt-5.mb-5.pb-5.lala {
            display: none;
        }
        p.h4.d-flex.justify-content-center.align-items-center {
          
            font-size: 13px;
        }
        h5.display-1.d-flex.justify-content-center.align-items-center {
            font-size: 21px;
            font-weight: 400;
        }
      }
   
      @media only screen and (max-width: 700px)
      {
        section.container.mt-5.pt-5.mb-5.pb-5.lala {
            display: none;
      }
    }


    /* card area */
/* accorion area */
button.accordion-button {
    font-size: 30px;
}
/* accorion area */